.btn-primary {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;

}

.btn-info {
    color: #fff !important;
    background-color: #659be0 !important;
    /* border-color: #508edb; */
}


.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.table-responsive {
    overflow-x: auto;
    white-space: nowrap;
}
.table td, .table th {
    white-space: nowrap;
}



